* {
    box-sizing: border-box;
   }
  body{margin:0;
    font-family:Arial;
    padding:  0px;
    background-color: rgb(84, 165, 135); 
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("chess1.jpg") ; 
    background-repeat:round;
  }
  
  .header {
    padding: 0.5px;
    text-align: center; 
    color: #ddd;
    background-color: #394449;
    background-image: url("chess_back.jpg") ; 
    background-repeat:round;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  .nav {
    overflow: hidden; 
    background-color: rgba(90, 89, 89, 0.7);
  }
  
  .nav a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none; 
  }

  a.active {
    color: rgb(173, 210, 224); 
    border-bottom:inset #04AA6D;
  }
  
  .nav .icon {color: #ddd;
    display: none;
    border-radius: 15px;
    background-color: black;
  }
  .nav a:hover:not(.active) {
    background-color: red;
    color: #f5eded; 
    border-bottom: inset red;
  }

  #D1{
    color: goldenrod;
    text-align:center;
    position:relative;
    animation:example1;
    animation-duration:2s;
    animation-fill-mode:forwards;
    }
  .join { 
    border-radius: 25px;
    padding: 12px 12px;
    width: 150px;
    font-size: 20px;
    text-align: center;
    background-color: red;
    border: none; 
  }
  .join a{text-decoration: none;
  color: black;}

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card { 
    padding: 20px;
    margin-top: 20px;
  }
  .card h2{  
    width: 285px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:dodgerblue;
    border-radius: 25px;
  }

  
  .content {
    background-color: rgb(81, 212, 164);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
  }

  .footer {
    color:rgb(223, 221, 221);
    padding: 8px;
    font-size: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px; 
    background-image: url("footer2.jpg") ;
    background-size: 33.33%;
    background-repeat:round;
  }

  .fo-con{
    text-align: left;
    margin-left: 50px;
  }

  @keyframes example1{
    0%{top:-50px;opacity:0}
    100%{top: 12px; opacity:1}
    }

  @media screen and (max-width: 1100px) {
    .footer{background-size: 65%;}
  }
  @media screen and (max-width:600px)
  { 
  .footer{background-size: 100%;}
  .fo-con{margin: 0;}
  }

@media screen and (max-width: 720px) {
  .nav a:not(:first-child) {
    display: none;
  }
  .nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .nav.nav_res {position: relative;}
  .nav.nav_res .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.nav_res a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.nav_res {float: none;}
  .nav.nav_res {position: relative;}
  .nav.nav_res {
    display: block;
    width: 100%;
    text-align: left;
  }
}